[BASIC]

argument-naming-style=any

attr-naming-style=any

class-attribute-naming-style=any

class-naming-style=PascalCase

const-naming-style=UPPER_CASE

docstring-min-length=-1

function-naming-style=any

method-naming-style=any

module-naming-style=snake_case

variable-naming-style=any


[FORMAT]

max-line-length=80


[SIMILARITIES]

ignore-comments=yes

ignore-docstrings=yes

ignore-imports=no

min-similarity-lines=8


[DESIGN]

max-args=8

max-attributes=7

max-bool-expr=5

max-branches=12

max-locals=20

max-parents=7

max-public-methods=20

min-public-methods=2

max-returns=6

max-statements=50
